.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 350px;
    background-color: white;
}

.btn {
    background-color: var(--primary-base);
    color: var(--primary-on);
    padding: 8px 24px;
    width: fit-content;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.grow {
    flex-grow: 1;
}

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/images/ford-ranger.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    max-width: 760px;
    padding: 0.5em;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.hero-content p {
    font-size: 1em;
    line-height: 1.5em;
}

.hero-content button {
    padding: 0.8em 3em;
    margin-top: 2.5em;
    font-size: 0.75em;
    font-weight: bold;
}

.cards {
    display: flex;
    max-width: 100vw;
    max-height: auto;
    gap: 5%;
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 33vw;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.selected {
    border: 4px solid var(--primary-base);
}

.card-content{
    padding: 0.75em 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card.selected .card-content {
    padding: 0.75em calc(1em - 4px) calc(0.75em - 4px) calc(1em - 4px) ;
}

.card-text {
    flex-grow: 1;
}

.card-content p{
    color: rgb(98, 98, 98);
    font-size: 0.75em;
    line-height: 1.1em;
    text-align:justify ;
}

.card-content .btn {
    margin-top: 0.5em;
    padding: 0.6em;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-top: 20px;
}